extends layout
block headArea
    link(rel='stylesheet', href='/stylesheets/index.css')
block content
  div(class='wrap')
      div(class='leftPart')
          a(href='/user/schoeu')
            h1 schoeu
      div(class='rightPart')
          a(href='/user/viki')
            h1 viki
block jsArea
    script(src='/javascripts/page/index.js')
