extends layout
block headArea
    link(rel='stylesheet', href='/stylesheets/index.css')
block content
  div(class='wrap')
      div(class='left')
          h1 schoeu
      div(class='right')
          h1 viki
