doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    block headArea
  body
    block content
    script(src='/javascripts/libs/jquery-2.1.4.min.js')
