//
   Created by baidu on 15/10/1.

extends layout
block headArea
    link(rel='stylesheet', href='/stylesheets/login.css')
block content
    div(class='logWraper')
        div(class='contentCtt')
            div(class='logForm')
                div(class='logLogo')
                    img(src='/images/yingyan.png')
                form(action='/user/login' method='post' autocomplete='off')
                    div
                        label(for='username') 登录名
                        input(type='text' name='username' id='username' autocomplete='off')
                    div
                        label(for='password') 密码
                        input(type='password' name='password' id='password' autocomplete='off')
                    div
                        button(type='submit' id='logSub') 登录
block jsArea
    script(src='/javascripts/page/login.js')
