//
   Created by baidu on 15/10/1.

extends layout
block headArea
    link(rel='stylesheet', href='/stylesheets/viki.css')
block content
    h1 wiki的主页
    a(href='/user/login') 登录
block jsArea
    script(src='/javascripts/page/viki.js')
