.logWraper{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("/images/bg.png");
    background-size: cover;
}
.logForm{
    width: 300px;
    height: 260px;
    padding: 15px 20px;
    box-shadow: -1px -1px 0px rgba(213, 179, 252, 0.82),1px 1px 0px rgba(235, 219, 253, 0.39);
    border-radius: 12px;
    background-image:-webkit-linear-gradient(15deg,rgba(255, 255, 255, 0.18),rgba(255, 255, 255, 0.05),rgba(255, 255, 255, 0.05),rgba(255, 255, 255, 0.18));
}
.logLogo{
    width: 80px;
    height: 80px;
    border: 1px solid rgba(206, 128, 255, 0.28);
    border-radius: 7px;
    margin: 0 auto 15px auto;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) inset;
}
.logLogo img{
    width: 100%;
    height: 100%;
    border-radius: 7px;
}
.logForm form div{
    line-height: 40px;
    height: 40px;
    margin: 10px auto;
    border: 1px solid rgba(206, 128, 255, 0.28);
    border-radius: 4px;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.25) inset;
}
.logForm input{
    width: 77%;
    display: inline-block;
    border: none;
    line-height: 26px;
    color: #FFF;
    background-color: transparent;
    outline: none;
}
.logForm label{
    width: 15%;
    display: inline-block;
    margin-left: 10px;
}
.logForm form{
    color: rgba(255, 255, 255, 0.7);
    font-size: 12px;
}
#logSub{
    line-height: 20px;
    margin: 0 7px;
    width: 95%;
    border-radius: 4px;
    border: none;
    box-shadow: -1px -1px 0px rgb(141, 160, 255),1px 1px 0px rgb(76, 80, 143);
    letter-spacing: .5em;
    background-image:-webkit-linear-gradient(#4589fa,#2e6cd2);
    outline: none;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px rgb(87,35,167) inset;
    color: #FFF!important;
}
.contentCtt{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -125px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}